.navigation .fa{
    color: #fff !important;
}
.li-head{
    padding-left:20px;
    color:white;
}
a, a:focus, a:hover {
    color:white !important;
}
.li-head>i {
    float: right;
    margin-top: 2px;

}
.navigation li>.has-ul:after {
    display:none;
}
.footer a, .footer a:focus, .footer a:hover{
    color: green !important;
}
.bootstrap-select a{
    color:deepskyblue !important;
}
.dbt{
    font-size: 12px;
    line-height: 2em;
}
.mb-class{
    margin-left:0;
    margin-right:0;
    max-height: 250px;
    overflow-x:hidden;
    overflow-y:auto;
}
.mb-class>div{
    margin-top:1px;
    padding-left:10px;
    margin-bottom:1px;
}